table {
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  margin: 0;
  padding: 0;
  border: 1px solid black;
  width: 60px;
  height: 60px;
  position: relative;
  top: 0;
  left: 0;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  user-select: none;
}

td.whiteSquare {
  background-color: rgb(148, 148, 148);
}

td.blackSquare {
  background-color: rgb(108, 108, 108);
}

td.target {
  background-color: tomato;
}

td.white {
  color: white;
}

td.black {
  color: black;
}

td.check {
  color: rgb(255, 38, 0);
}

td.selected {
  color: rgb(98, 252, 98);
}
