table {
  border-collapse: collapse;
  border: 1px solid black;
}

td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  font-size: 35px;
  text-align: center;
  user-select: none;
}

td.white {
  background-color: rgb(199, 199, 199);
}

td.black {
  background-color: rgb(109, 109, 109);
}

td.selected {
  background-color: aqua;
}

td.target {
  background-color: rgb(75, 253, 134);
}
